$bg_color: var(--tg-theme-bg-color);
$secondary_bg_color: var(--tg-theme-secondary-bg-color);
$text_color: var(--tg-theme-text-color);
$hint_color: var(--tg-theme-hint-color);
$link_color: var(--tg-theme-link-color);
$button_color: var(--tg-theme-button-color);
$button_text_color: var(--tg-theme-button-text-color);
